body {
    background-image: url(imagenes/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

div.social-media-container {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 130px;
    margin-top: 20px;
}

.social-media-container img {
    height: 30px;
    width: 30px;
}

.social-media-container p {
    display: flex;
    align-items: center;
    color: grey;
}

div.imgarriba img {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 130px;
    margin-top: 20px;
    height: 110px;
    width: 300px;
}

div.medioizq {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 130px;
    margin-top: 250px;
}

div.medioder img {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 130px;
    margin-top: 180px;
    height: 45%;
    width: 50%;
}

div.medioizq {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

div.medioizq span.ari {
    font-size: 220%;
    color: white;
}

div.medioizq span.med {
    font-size: 338%;
    color: orangered;
}

div.medioizq span.aba {
    font-size: 160%;
    color: white;
}