#verde {
    text-align: center;
    background-color: green;
    color: black;
    font-weight: bold;
}

div.green {
    background-color: green;
    height: 150px;
}

div.yellow {
    background-color: yellow;
    height: 100px;
}

div.red {
    background-color: red;
    height: 100px;
}

div.blue {
    background-color: blue;
    height: 100px;
}

div.azuuu {
    background-color: blueviolet;
    height: 150px;
}