/*GENERALES*/

* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    padding: 0;
}


/*CABECERA*/

header {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: #FAFAFA;
    text-align: center;
    box-sizing: border-box;
    align-items: center;
}

header nav {
    margin: 0.5rem 0;
}

header ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #777777;
}

header li {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    border-right: 1px solid #DDDDDD;
}

header li a:hover {
    color: #FA5B3C;
}

header nav ul h1 {
    font-size: 1.87rem;
    margin-right: 2rem;
}

header nav li:last-child {
    border-right: none;
}

nav:last-child {
    display: flex;
    flex-direction: column;
}

nav:last-child button {
    width: 200%;
    height: 3rem;
    background-color: rgb(250, 250, 250);
    border: 1px solid gray;
}

nav:last-child button a {
    text-decoration: none;
    color: gray;
}

nav:last-child button a:hover {
    color: orangered;
}

header nav:last-child ul {
    padding: 10px 40px;
}


/*PRIMERA SECCION*/

#touch {
    background: url("./img/residential-banner-2.jpg") no-repeat center;
    background-size: cover;
    color: white;
    text-align: center;
    border-top: 2px solid #E5E5E5;
    padding: 5rem;
}

#flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#touch h2 {
    margin-top: 0;
    padding-top: 3rem;
    font-weight: 500;
    font-size: 3.2rem;
    margin-bottom: 1rem;
}

#touch p:first-of-type {
    font-size: 1.25rem;
    width: 100%;
    margin: 0 auto;
}

#touch p:last-of-type {
    font-size: 1.25rem;
    padding-bottom: 6rem;
}


/*FORMULARIO*/

table button {
    background-color: orangered;
    border-width: 0px;
    color: white;
    float: right;
    cursor: pointer;
    width: 60px;
    height: 20px;
}

table button:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px white;
    transition: 200ms;
}


/*SEGUNDA SECCION*/

#works {
    text-align: center;
}

#works h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#works>div {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    color: black;
}

#works article {
    width: 30%;
}

#works article div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#works hr {
    display: inline-block;
    width: 14%;
    margin: 1rem;
    height: 1px;
    background: black;
    border-left: none;
    border-right: none;
    vertical-align: center;
}

#works span {
    font-size: 2.7rem;
}

#works h3 {
    font-weight: 500;
    font-size: 2rem;
    margin: 1rem 0 0 0;
    letter-spacing: 2px;
    color: #5a5a5a;
}

#works p {
    font-size: 1.1rem;
    margin-top: 0.5rem;
}


/*TERCERA SECCION*/

#pictures {
    display: flex;
    justify-content: center;
    background: #EDEDED;
    padding: 4rem 0;
    margin-top: 2rem;
}

#pictures article {
    width: 23%;
}

#pictures article:not(:last-of-type) {
    padding-right: 0.8rem;
}

#pictures img {
    width: 100%;
}


/*FOOTER*/

footer {
    text-align: center;
}