div.contenedor {
    background-color: lightgreen;
    height: 600px;
    margin: 20px auto;
    width: 80%;
}

nav {
    background-color: rgb(5, 5, 5);
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

nav>ul>li {
    display: inline-block;
    margin: 10px 40px 10px 10px;
    color: white;
}

body {
    background-color: lightgray;
}

img {
    height: 100px;
    width: 80px;
    margin: 5px;
}

aside {
    border: solid black;
    position: fixed;
    top: 20%;
    height: 300px;
    text-align: center;
}

aside>ul {
    list-style: none;
    padding: 0;
}

div.contenedor>img {
    height: 80px;
}

figure {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 250px;
}

figure img {
    width: 70%;
}

figure:hover {
    z-index: 10;
}

#lu1 {
    left: 20%;
    position: absolute;
    top: 25%;
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
    z-index: 10;
}

#lu2 {
    left: 30%;
    position: absolute;
    top: 30%;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    z-index: 6;
}

#lu3 {
    left: 40%;
    position: absolute;
    top: 35%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-20deg);
    z-index: 4;
}

#lu4 {
    left: 50%;
    position: absolute;
    top: 40%;
    -webkit-transform: rotate(20deg);
    transform: rotate(25deg);
    z-index: 2;
}