div.contenedor {
    background-color: rgb(134, 211, 134);
    height: 600px;
    margin: 20px auto;
    width: 80%;
}

nav {
    background-color: rgb(54, 50, 50);
}

nav>ul>li {
    display: inline-block;
    margin: 10px 40px 10px 10px;
    color: white;
}

body {
    background-color: lightgray;
}

img {
    height: 100px;
    width: 80px;
    margin: 5px;
}

aside {
    border: solid black;
    position: fixed;
    top: 20%;
    height: 300px;
    text-align: center;
}

aside>ul {
    list-style: none;
    padding: 0;
}

div.contenedor>img {
    height: 100px;
}