body {
    background-image: url(imagenes/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

div.social-media-container {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 130px;
    margin-top: 20px;
}

.social-media-container img {
    height: 30px;
    width: 30px;
}

.social-media-container p {
    display: flex;
    align-items: center;
    color: grey;
}

div.imgarriba img {
    position: absolute;
    top: 0;
    left: 11%;
    margin-top: 20px;
    height: 110px;
    width: 300px;
}

div.medioizq {
    position: absolute;
    top: 0;
    left: 11%;
    margin-top: 200px;
}

div.medioizq {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

div.medioizq span.ari {
    font-size: 260%;
    color: white;
}

div.medioizq span.med {
    font-size: 398%;
    color: orangered;
}

div.medioizq span.aba {
    font-size: 186%;
    color: white;
}

.Camara {
    width: 23%;
    position: absolute;
    right: 8%;
    top: 24%;
    transform: rotate(2deg);
    z-index: 10;
}

.Foto {
    width: 30%;
    position: absolute;
    right: 22%;
    top: 19%;
}

div.abajo img {
    width: 10%;
    display: inline-block;
    position: absolute;
}

div.abajo p {
    font-family: medio;
}

.recent {
    color: gray;
    position: absolute;
    bottom: 24.8%;
    left: 11%;
    font-size: xx-large;
    width: 8%;
}

.photos {
    color: white;
    position: absolute;
    bottom: 20.7%;
    font-size: xx-large;
    left: 11%;
    width: 8%;
}

.portfolio {
    text-decoration: none;
    font-weight: 800;
    font-size: 15px;
    color: #ffffff;
    width: 9%;
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    background-color: orangered;
    text-align: center;
    left: 11%;
    border-radius: 5%;
    position: absolute;
    bottom: 17%;
}

.portfolio a {
    text-decoration: none;
    color: inherit;
}

.abajo1 {
    position: absolute;
    left: 27%;
    bottom: 19.5%;
}

.abajo2 {
    position: absolute;
    left: 41%;
    bottom: 19.5%;
    width: 40%;
    height: 15%;
}

.abajo3 {
    position: absolute;
    left: 55%;
    bottom: 19.5%;
}

.abajo4 {
    position: absolute;
    left: 69%;
    bottom: 19.5%;
}

footer {
    text-align: center;
    color: gray;
    font-family: fotografia;
    clear: both;
    font-size: x-large;
    position: absolute;
    border-top-style: solid;
    border-color: gray;
    bottom: 0;
    margin-bottom: 2%;
    width: 80%;
    margin-left: 10%;
}

.whi {
    color: white;
}